<section class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__title">{{ 'hero.title' | translate }}</h1>
      <p class="hero__description">
        {{ 'hero.description' | translate }}
      </p>
      <div class="hero__actions">
        <a href="#" class="hero__btn hero__btn-primary">{{ 'hero.download' | translate }}</a>
        <a href="#features" class="hero__btn hero__btn-secondary">{{ 'hero.learnMore' | translate }}</a>
      </div>
    </div>
    <div class="hero__image">
      <img
        ngSrc="assets/img/login/banners/random_dog_banner_1.png"
        alt="Happy pets"
        width="600"
        height="400"
        priority
      />
    </div>
  </div>
</section>

